@tailwind base;

@tailwind components;

@tailwind utilities;

.custom-input {
  @apply border border-gray-300 rounded-lg p-2 w-full;
}

.custom-display-label {
  @apply flex flex-col justify-center font-semibold;
}

.custom-error {
  @apply text-orange-500 text-xs;
}

.primary-button {
  @apply border rounded-lg border-black bg-blue-800 text-white px-4 py-2 hover:bg-blue-700;
}

.menu-trigger img {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: rgb(241 245 249);
  color: rgbrgb(51 65 85);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: visible;
  transform: translateY(-20) px;
  transition: var(--speed) ease;
}

h3 {
  width: 100px;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18 px;
  color: rgb(0 0 0);
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  color: var(--var secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a {
  max-width: 100px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}
